[2017-04-25 11:29] kytwb opened #1 "Expose programmatical way to render emojis in given string"
It would be great to have the main render function exposed for use-cases where we can't use the components.

[2017-04-25 14:54] tommoor commented on #1
I think this is a good idea however the exposed method would likely return an array that would contain the original string split into strings and Emoji components, would this work? That way the return value could be directly rendered as children rather than using `dangerouslySetHTML`

[2017-05-03 10:55] kytwb opened #2 "Does not render :p"
But it does render `:P` with a capital `P`.

[2017-05-03 16:26] #2 closed

[2017-05-04 06:11] kytwb opened #4 "Issue with space characters"
If I try to render the string `Ewww <3`, the emoji is right next to `Ewww`, the space is trimmed or something. For it to render properly, I need to put two space characters: `Ewww  <3`.
**Edit:** This is also the case in the live demo for the last space before the last emoji.

[2017-05-04 06:18] kytwb commented on #4
@tommoor I'm keen to fix this bug, but later. Should be able to submit a PR later tonight (UTC+7) or tomorrow.

[2017-05-04 06:19] tommoor commented on #4
Right on - I won't get chance to tackle in the next 24 hours so go ahead and give it a bash if you can, that would be fantastic 😄

[2017-05-04 09:26] frangelli opened #5 "Module not found: 'react'"
Hey guys,

I'm trying to use it but as soon as I import that into my app I get this error:

[code]

Anyone else getting the same problem?

[2017-05-08 12:51] robecor opened #6 "Missing emoji"
Hello. I've been using this together with emoji-mart and it works great.
A small problem I have is that the package does not render some emojis. They are probably not included.
It would be great if you could add them in the future.
I've made a list of the emojins which are not rendered:
:slightly_smiling_face
:upside_down_face
:money_mouth_face
:nerd_face
:hugging_face
:face_with_rolling_eyes
:thi

[2017-05-09 01:58] tommoor commented on #6
Thanks for reporting! FWIW it looks like everything works correctly if the native UTF16 character is inserted, so it's just the shortnames that are missing for these characters

[2017-05-18 01:31] kytwb commented on #6
Willing to take on this one.

[2017-05-18 01:32] kytwb commented on #5
@frangelli How did you install the component? Using npm/yarn?

[2017-05-18 01:32] kytwb commented on #4
@tommoor been a bit busy, but will go a tackle this one asap.

[2017-05-18 02:16] tommoor commented on #5
Note that react and react-dom are peer dependencies so your application must have them in its package json. I think I should change this.

[2017-05-19 04:25] kytwb opened #7 "Expected a component class, got [object Object]"
Only in React Native.

![desctop screenshot](https://cloud.githubusercontent.com/assets/412895/26233197/e023a704-3c85-11e7-8739-99b9cfce06b6.png)

[2017-05-19 05:31] kytwb commented on #7
I've been wrapping the output in a `Text` element I pass through `props.component`.
I'm now struggling on this error: `undefined is not a function (evaluating 'input[typeof Symbol === "function" ? Symbol.iterator : "@@iterator"]()')`. Might have to do with babel and presets.

[2017-05-27 09:59] Archakov06 opened #8 "How to insert html in the text property?"
...

[2017-05-27 20:33] tommoor commented on #8
Hey, could you let me know some more detail on what you're trying to achieve?

[2017-05-27 20:34] tommoor commented on #7
Did you find a solution? I haven't tested this with react native at all

[2017-05-28 14:46] Archakov06 commented on #8
I have a function that translates new lines into <br> and converts the links into clickable. Your component escaping all HTML elements.

[code]

Can I somehow use your component <Emojione /> to insert text with HTML elements?

`<Emojione dangerouslySetInnerHTML={{ __html: "Hello :smile: <br/> World!" }} />` ?

[2017-05-29 01:57] #1 closed

[2017-05-29 01:59] #5 closed

[2017-05-29 02:08] tommoor commented on #8
I just published `0.4.0` which exposes the internals as [toArray](https://github.com/tommoor/react-emoji-render#array-output). With that you can loop through the output and do further processing on the text items. The whole point of this module is to avoid using `dangerouslySetInnerHTML` though, so you should avoid that.

[2017-05-29 02:08] #8 closed

[2017-05-29 02:46] #4 closed

[2017-05-29 04:56] kytwb commented on #7
@tommoor I'm working on a solution on my fork right now but not working yet. Will update as soon as I get back on it!

[2017-05-29 09:47] frangelli commented on #5
@kytwb I've installed using yarn.

[2017-05-29 09:47] frangelli commented on #5
@tommoor here is my dependencies block:

[code]

[2017-05-29 11:06] frangelli commented on #5
@tommoor it fixed the problem. Thanks a lot!

[2017-08-07 16:51] zbrukas commented on #6
Also, no flag emojis? :(

[2017-08-08 02:38] tommoor commented on #6
Hey @zbrukas - flag Emoji's have been around for a long time, they work fine in my testing. Please submit a new issue with reproduction steps if you're having problems 😄

[2017-08-08 03:08] zbrukas opened #9 "Flag emojis missing"
I've tried to use the library to output flag emojis. Code is pretty straightforward:

[code]

Output is:
```:flag-pt::flag-de::flag-dk::flag-us::flag-PT::flag-br:```
as regular text

Emojipedia had those codes as the ones for flags, last time I checked.

[2017-08-08 03:47] tommoor commented on #9
Interesting, the flags are available but without the "flag-" prefix, for example: https://github.com/tommoor/react-emoji-render/blob/master/data/aliases.js#L662

[2017-08-08 18:39] #7 closed

[2017-08-08 20:46] zbrukas commented on #9
Nice, I looked into the aliases but I missed those ones :( is there a plan to add the remaining flags?

[2017-08-09 17:06] tommoor commented on #9
If I can find an existing list then happy to add the aliases, otherwise it'll be a manual affair! Lets keep this issue open until they are added

[2017-10-16 02:43] tomredman commented on #6
Would love to have these added in :) Any updates? I could also take it on if it's not yet done @kytwb.

Thanks for the package @tommoor, super clean!

[2017-10-16 09:21] kytwb commented on #6
Feel free @tomredman! 💯

[2017-11-25 12:35] ibc opened #12 "How to set onlyEmojiClassName prop when using toArray?"
`toArray()` returns an array of text and emoji components. So, how to set the desired custom `onlyEmojiClassName` prop into those emoji components?

[2017-11-25 12:55] ibc commented on #12
Or in other words, how do I take the `Emoji` element generated by `toArray()` and provide it with a `key` prop (in case I need it)?

[2017-11-25 13:08] ibc opened #13 "toArray(":) :)") fails"
It returns `[{…}, " :)"]`, this is, just an emoji (the first one) and then a simple " :)" text.

[2017-11-25 13:34] ibc commented on #13
OK, it's not just `toArray()` but also the common React usage:

<img width="916" alt="captura de pantalla 2017-11-25 a las 14 33 59" src="https://user-images.githubusercontent.com/16191/33230991-b9b3bef8-d1ed-11e7-89fe-63b8f8092ea7.png">

[2017-11-28 20:06] leimd commented on #9
We have forked this project and added a few aliases for Currencies, would you be interested to get this fork merged into the main branch? https://github.com/beanworks/react-emoji-render/blob/master/data/currencyAliases.js we can also take on this job for adding flags if the currencies can be merged.

[2017-11-30 18:34] mikeroelens opened #14 "HTTPs support for server-side rendering"
Right now the protocol check is...

[code]

When rendering on the server, `location` is undefined and will always cause the protocol to be "http". This is problematic as I'm serving my entire website over https and am now getting security warnings about serving images over http.

My recommended solutions:

1. Ignore specifying the protocol entirely. (Best solution IMO)
`<img src="//twemoji.maxcdn.

[2017-12-22 16:41] theboolean opened #15 "Add alt attribute to img"
Hi @tommoor, thanks for this library!
I noticed that if you copy/paste the rendered text, the emojis get lost.
One simple way to fix this issue is to add an alt attribute to `img` tags.

[2017-12-23 19:40] #15 closed

[2017-12-23 19:42] tommoor commented on #13
Hmm, not sure what the best thing to do here is - this is kind of by design so that non-emoji's aren't picked up that happen to include a combination of these characters. A word break is required

[2017-12-24 12:33] ibc commented on #13
Isn't space a word break? Note that the original text is literally `:) :)`.

[2017-12-24 13:01] ibc commented on #13
Also note that the following do work properly:

```:) :+1:```
```:+1: :)```

[2017-12-24 13:02] tommoor commented on #13
Ah i see, sorry that does sound like a bug then!

On Sun, Dec 24, 2017 at 13:01 Iñaki Baz Castillo <notifications@github.com>
wrote:

--
Tom Moor

http://tommoor.com
http://twitter.com/tommoor

[2018-04-02 15:23] mccambridge opened #17 "IE Support"
The Twemoji component breaks my app in IE. You're trying to use `String.endsWith`, which is not supported at all in IE. You should be able to use `String.match` to achieve the same purpose and not break IE.

[2018-06-19 23:12] logicminds commented on #6
What is needed to add these?

[2018-06-20 02:37] tommoor commented on #6
It's as simple as adding the aliases to the data file, the same as this PR did:

https://github.com/tommoor/react-emoji-render/pull/10

[2018-07-17 16:54] enzoferey commented on #13
Done: https://github.com/tommoor/react-emoji-render/pull/19

[2018-07-18 06:15] #13 closed

[2018-07-18 08:56] ibc commented on #13
And confirmed that it works :)

[2018-08-23 17:55] ibc opened #20 "Since 0.4.5, URLs are also converted into emojis"
This happens definitely since 0.4.5 (this [PR](https://github.com/tommoor/react-emoji-render/pull/19)).

[code]

This code is generating this:

`https😕/google.foo 😃`

As you can see, the `:/` chars within the URL are also being converted into an emoji. Something tells me that it shouldn't go so far.

I'm not sure what the solution should be, but IMHO it would make sense if the parser requires some

[2018-08-23 19:39] tommoor commented on #20
I guess we need to get some URL's in the test suite

[2018-08-24 09:51] ibc commented on #20
So, just to confirm, no emoji should be detected within something that looks like an URL, right?

[2018-08-27 10:56] VictorVolovik commented on #20
Can confirm the same!

[2018-08-27 16:17] tommoor commented on #20
Correct - the correct fix is to adjust the regex to stop this alias from triggering when part of a URL. This will mean undoing some of the changes in #19 and adding a regression spec.

If this is a problem for anyone in the meantime you can lock the dependency to < 0.4.5

[2018-09-04 16:19] brookback commented on #20
Can't we force whitespace between `:shortnames:`, in order to not mess up `http://` strings?

Like:

[code]

[2018-09-04 16:29] tommoor commented on #20
Yes. CC @enzoferey I believe some of your work will need to be undone here.

https://github.com/tommoor/react-emoji-render/pull/19/files#diff-be46e2cd4b4d907bca18a445775a9f6aR136

[2018-09-04 16:43] enzoferey commented on #20
Hi ! Yes, I believe URLs should be an edge case and we need tests for them. I can look at a solution tomorrow if that's okay for you.

[2018-09-04 16:45] tommoor commented on #20
Sure, if you'd like to try making them an exception go for it!

If the library ends up having to support one or the other then not breaking url's is far more important than emoji's without a space between 😉

[2018-09-05 11:13] brookback commented on #20
I applied

[code]

to the beginning of the ASCII regex, in order to force it to be either in the beginning of a text line or have whitespace before it. Works great ✨

[2018-09-05 21:37] enzoferey commented on #20
Please look at the referenced PR (https://github.com/tommoor/react-emoji-render/pull/23) 👍

[2018-09-25 02:51] #20 closed

[2018-09-25 19:27] ibc commented on #20
Thanks guys, I confirm that it works great now in all the cases I've tested.

[2018-09-25 19:43] enzoferey commented on #20
Let us know if you find any other edge case, they should be easy to add thanks to the way I refactored the regex :+1:

[2018-09-25 19:45] ibc commented on #20
Sure, I'll do.

[2018-10-02 19:28] wilg opened #25 "Update EmojiOne to 4.0"
This project uses EmojiOne 2.x, but there is a 4.0 version with more up-to-date icons. It's on a different CDN though: https://cdn.jsdelivr.net/emojione/assets/4.0/png/128/1f600.png

[2018-10-02 19:30] wilg opened #26 "Does not properly render "👩‍⚕️""
I am unable to get the character 👩‍⚕️to render properly.

https://www.emojione.com/emoji/1f469-2695

It's available in Emojione 4.0 (https://github.com/tommoor/react-emoji-render/issues/25) at https://cdn.jsdelivr.net/emojione/assets/4.0/png/128/1f469-2695.png

[2018-10-31 14:23] enzoferey commented on #26
That's because the emoji is not in the list of aliases, so the library doesn't transform it:

https://github.com/tommoor/react-emoji-render/blob/master/data/aliases.js

[2018-10-31 14:26] enzoferey commented on #25
As I answered you in the other issue, to render that emoji we would need to update the EmojiOne cdn version (if the emoji didn't exist in 2.x) and then add it to the list of aliases.

[2018-10-31 19:01] wilg commented on #26
Aren't the aliases for doing the `:+1:` GitHub/Slack style emojis? The case I am talking about is just typing this character from the macOS/iOS emoji picker, so it should just be the unicode character directly.

[2018-10-31 19:08] wilg commented on #26
This project creates a url of `1f469-200d-2695-fe0f` rather than the `1f469-2695` that emojione seems to expect. I'm not an emoji expert, so I'm not sure why that would be.

Here's a modification of the demo to show this: http://requirebin.com/?gist=fc94a8e4e0cec4b27f74674bd53d8e9a

[2018-11-04 20:58] tommoor commented on #25
Very happy to accept a PR – I don't think it would be too involved but I'm not currently using this library in any production libraries so not top of list for me.

[2018-11-05 19:36] wilg commented on #26
I think it has to do with the EmojiOne URL scheme, as I mentioned in the OP EmojiOne has it at

https://cdn.jsdelivr.net/emojione/assets/4.0/png/128/1f469-2695.png

but the URL this library generates is this one, which does not work:

https://cdn.jsdelivr.net/emojione/assets/4.0/png/128/1f469-200d-2695-fe0f.png

[2018-11-05 19:43] enzoferey commented on #26
I'm working on upgrading to EmojiOne 4.0, we will see later if this issue remains.

[2018-11-17 20:13] #25 closed

[2018-11-17 20:13] #26 closed

[2019-02-06 15:39] saadaouad opened #29 "Text property doesn't render dangerouslySetInnerHTML"
In first I'd like to thank you for this great tool, I just noticed that text property doesn't render `dangerouslySetInnerHTML`, could be please provide us with an example if this was already implemented.

[2019-02-06 17:52] saadaouad commented on #29
Hi @enzoferey , `toArray()` function it will gives an array and emoji will be an object, what I want to know is how we can display this object or property (inside this object) as an emoji?

And if we are using to `toArray()` we should avoid using `dangerouslySetInnerHTML` as it's mentioned on the readme https://github.com/tommoor/react-emoji-render#array-output

[2019-02-06 18:39] enzoferey commented on #29
Hello again !

So I have no idea why @tommoor wrote that in the documentation, I'm not aware of any issues about putting unicode inside `dangerouslySetInnerHTML` and the remaining string is just html, there shouldn't be any problems. But we can sort around it if you like 😉

I have setup a CodeSandbox example where I show one way of solving your problem directly put the emojis inside `dangerouslySe

[2019-02-07 00:35] saadaouad commented on #29
Great @enzoferey it's clear now, thank you so much 👍

In my opinion the second function would be great:

[code]

What do you think to integrate it on this package?

[2019-02-07 00:50] tommoor commented on #29
The warning is just a general warning arounding using that prop. The toArray helper is provided so there should be no reason to dangerouslySetInnerHTML ☺️

[2019-02-08 08:43] enzoferey commented on #29
@tommoor Mmm 🤔 How not having the `toArray` helper would make you need `dangerouslySetInnerHTML` more ? I don't see any case 😅

@saadaouad I would say it doesn't make that much sense ? I think that is kinda of stepping in the user's business logic. The `toArray` helper already provides a way of parsing the emojis so pure JS function like this one could be written by the user depending on his use c

[2019-02-08 09:17] saadaouad commented on #29
What I thought about it is to keep `toArray` helper and offer a new `react-emoji-render` helper's that can parse emojis and html in the same time.

What do you guys think ?

Or let's boost the README with an example

[2019-02-08 09:22] enzoferey commented on #29
Yes, I know. But in this case I think it steps in too much into user's use case as I said. For example, to parse emojis and HTML we are using `dangerouslySetInnerHTML` + a `<span/>` container, but I think that should be a choice of the user. He might want to do something else. I don't see it as something that `react-emoji-render` should take care off.

[2019-02-08 09:33] saadaouad commented on #29
Good point @enzoferey 😄  , so let's just boost the README with an example.

[2019-02-08 09:43] enzoferey commented on #29
Done ! https://github.com/tommoor/react-emoji-render/pull/30 Thanks for pointing this unclear part @saadaouad 👍

[2019-02-08 09:45] saadaouad commented on #29
Thanks for your help too @enzoferey +1

[2019-02-09 01:50] tommoor commented on #29
The reason is that you can render an array of strings and React components directly in React. eg:

[code]

[2019-02-10 11:28] enzoferey commented on #29
Right, having `toArray` makes it straightforward to render an output without using the library's components. In your example, if the string has some HTML you will still need to parse it somehow. Having used `toArray` before the HTML parsing doesn't change anything about the fact that you can use `dangerouslySetInnerHTML` if you like. That's why I don't understand the warning in the README. 😅

[2019-03-02 17:02] Foorack commented on #9
A pull request has now been made to fix this https://github.com/tommoor/react-emoji-render/pull/31

[2019-03-02 22:20] #9 closed

[2019-03-04 03:16] shabtaisharon opened #32 "How to use a Custom Images using cnd"
Hi,

I want to be able to create an apple look emojis in my app and I thought to use https://cdnjs.com/libraries/wdt-emoji-bundle which gives you an apple sheet, but I can't seem to make it work.
Can you please give me some advice on how to do that?
My general purpose is to be able to render emojis that will look like the apple emojis on all platforms.

Thanks much,
Sharon

[2019-03-04 08:31] enzoferey commented on #32
Hi @shabtaisharon !

Have you checked the [Custom Images](https://github.com/tommoor/react-emoji-render#custom-images) section in the README ?

You can pretty much write a HoC for any provider you choose (`wdt-emoji-bundle` if you like). You may find relevant [this line](https://github.com/tommoor/react-emoji-render/blob/master/src/renderer.js#L43) where how the final `src` attribute of the emoji

[2019-03-04 16:42] shabtaisharon commented on #32
Hi @enzoferey,

Thanks for replying to my question.
I'm new to emojis and for some reason, I can't make this custom cdn work. Maybe I'm doing it all wrong.
I can't seem to understand what should my `baseUrl` be? maybe `wdt-emoji-bundle` is not a good candidate for the apple emojis?

[2019-03-05 16:20] ShimiSun opened #33 "Is there a way to set margin:0?"
I've tried multiple ways to remove the margins with no luck.
I need to render the emojis without the margin, otherwise, it creates layout problem for responsive.

I've tried the following:
`<Emoji text={name} style={{ margin: 0 }} />`
and
[code]

Can you provide an alternative way to remove margin when using one Emoji?

[2019-03-05 16:23] tommoor commented on #33
You should use the `onlyEmojiClassName` prop, as deleted here:
https://github.com/tommoor/react-emoji-render#only-emoji

If you're using styled components it'll be something like

[code]

[2019-03-05 18:51] ShimiSun opened #34 ":male-singer: emoji isn't showing although it exists on EmojioneV4"
the :male-singer: emoji isn't showing, see here:
https://codesandbox.io/s/nw7ppjjjym

Although the emoji does exist on the `EmojioneV4` lib and should be displayed.

[2019-03-05 18:51] ShimiSun commented on #33
Thanks, I'll give it a try and keep you updated!

[2019-03-05 22:20] ShimiSun commented on #33
Unfortunately, it didn't work, see this sandbox that reproduces the problem: https://codesandbox.io/s/6vzr0r16oz

the className applied by `onlyEmojiClassName` is being applied on the upper DOM level rather than on the `span` that wraps the emoji.
![screen shot 2019-03-05 at 3 10 11 pm](https://user-images.githubusercontent.com/6320236/53841486-29a81a80-3f5a-11e9-9ea9-0e4760d76460.png)
Is there a

[2019-03-05 22:49] tommoor commented on #33
[code]

would be the owrkaround

[2019-03-05 23:10] ShimiSun commented on #33
So I don't think styled-components are accepting class. and I ended up not using `onlyEmojiClassName` and just doing:
[code]
and the `!important` was a mustin order to override the inline style.

[2019-03-06 19:06] enzoferey commented on #34
That's because it's not on the [aliases](https://github.com/tommoor/react-emoji-render/blob/master/data/aliases.js) list. You can submit a PR for that 👍

[2019-03-06 19:13] enzoferey commented on #32
Right, `wdt-emoji-bundle` is not a emojis CDN, just an emoji picker. You will need to find a CDN that serves every emoji individually under their codepoint values such as Emojione or Twemoji.

[2019-07-03 22:13] ShimiSun commented on #33
@tommoor feel free to close this issue, I was able to work around it.

Just an FYI, in case you are interested to see the React.js+ Grommet example that uses the react-emoji-render library, take a look at
Demo: https://l1klxkjwm.codesandbox.io/
Source: https://codesandbox.io/s/l1klxkjwm

[2019-07-30 04:57] tommoor commented on #29
Cleaning up the issues on this repo, closing out

[2019-07-30 04:57] #29 closed

[2019-07-30 04:57] tommoor commented on #6
All missing emoji are now present in `v1.0.0`

[2019-07-30 04:57] #6 closed

[2019-07-30 04:57] tommoor commented on #34
All missing emoji are now present in `v1.0.0`

[2019-07-30 04:57] #34 closed

[2019-07-30 04:58] #33 closed

[2019-07-30 04:58] #32 closed

[2019-07-30 05:00] tommoor commented on #12
Cleaning up old issues, please reopen if you still care for this functionality

[2019-07-30 05:00] #12 closed

[2019-08-13 22:04] gencer opened #39 "How to specify or apply emoji theme with `toArray`?"
Due to custom handling, I need to use `toArray` so that i can manipulate data before render.

In this case how can i specify emoji theme to `Emojione` for rendering? Currently when I manipulate data, emoji gets rendered on native browser emojis. When data not manipulated then emojione takes control (if-else).

**Sample**:
[code]

What `markChunks` does here is, mark specific words in text with yel

[2019-08-13 23:31] gencer commented on #39
Well, React render does allow arrays so, changing last return from:

[code]

to:

[code]

solved my problem.

And of course we need to replace text on `string` case.

[2019-08-13 23:31] #39 closed

[2019-11-07 21:23] joshbeitler opened #42 "Most flags not rendering when using shortcodes"
See this sandbox: https://codesandbox.io/s/fancy-morning-jm198

Flag emojis using the Slack-style shorthand (e.g.: `:flag-us`, `:flag-mx`) don't seem to render using either `toArray` or the built-in Emoji components. They do appear to be in the `aliases.js` file, so I'm not sure why these ones don't work. Without the `flag-` prefix, some do seem to work (e.g. :`:us:`).

[2019-11-07 21:49] enzoferey commented on #42
Hi @joshbeitler !

It looks like you have 2 issues:

1) You are not using the latest version of `react-emoji-render`, we added some aliases since the `v0.6.0` (for example :flag-mx:).
2) In our [aliases.js](https://github.com/tommoor/react-emoji-render/blob/master/data/aliases.js) I cannot find any reference to `:flag-us:` not `:flag-jp:`, so it's normal that they don't work. Feel free to open a P

[2019-11-07 22:53] joshbeitler commented on #42
@enzoferey Thanks! You're totally right, my bad. I had copied a sandbox from a previous issue I saw on here, must've been quite old. I'll see what flags seem to be missing from aliases.js and send a PR in.

[2019-11-07 22:53] #42 closed

[2019-11-07 23:02] joshbeitler commented on #42
Just submitted #43 to address this.

[2019-12-27 02:06] SilinaGeorge opened #45 "Could not find a declaration file for module 'react-emoji-render'"
I'm trying to import the following
`import { Emojione } from 'react-emoji-render';`

but I am getting the following error:

here are my dependencies

 "dependencies": {
    "@material-ui/core": "^4.8.0",
    "@testing-library/jest-dom": "^4.2.4",
    "@testing-library/react": "^9.4.0",
    "@testing-library/user-event": "^7.2.1",
    "bootstrap": "^4.4.1",
    "query-string": "^6.9.0",
    "react"

[2019-12-27 02:55] tommoor commented on #45
It sounds like your typing library complaining that there is not an exported type from the module, I wouldn't consider this a bug or issue with the library. Are you sure it's an error, this type of thing would typically be a warning.

[2019-12-27 02:55] #45 closed

[2020-01-10 09:25] TheRav3n opened #47 "Not in sync with emoji-mart"
Is there a way to render the same emojis as in `emoji-mart`? Slack-style emoji names and unicodes are working, while emoticons produce different results.

For example `:*` here produces `:kissing:` where in `emoji-mart` it produces `:kissing_heart:`.

[2020-01-10 20:19] enzoferey commented on #47
Hi @TheRav3n !

You can find our [`ascii aliases`](https://github.com/tommoor/react-emoji-render/blob/master/data/asciiAliases.js) file where we define such emojis mapping. I don't think changing the mapping is a good idea as it may potentially break the implementation of people relying on current mapping.

What is your use case so we can find a solution that works for all of us ?

[2020-01-10 22:54] TheRav3n commented on #47
My use case is using `emoji-mart` (which is an emoji _picker_) for picking emoticons. Emoji Mart also displays to the user the corresponding emoticon, which I understand to be the same as in Facebook or Apple, so those should be somewhat standard. Then, I use `react-emoji-render` to actually render the emoticons. Their combinations can be found in those [JSON files](https://github.com/missive/emoj

[2020-01-11 12:14] enzoferey commented on #47
Thanks for the details. The problems about aliases is that they are not standard. `emoji-mart` and every other emoji library out there uses their own aliases. Just as an example, Slack and Github already uses different emoji aliases. I described the issue and how we are currently tackling it at https://github.com/tommoor/react-emoji-render/pull/41#issuecomment-552660375.

I'm not a huge fan of thi

[2020-01-11 21:40] tommoor commented on #47
I wonder if we could diff the aliases between what we have and emoji_mart? Perhaps the differences are small – in which case it might be worth just baking in the additions

[2020-01-11 21:50] enzoferey commented on #47
@tommoor what do you mean by "baking in" ? We can for sure add aliases they have that we don't, but the issue here is about aliases that mean different things for them than for us. So even if there is a very small amount of differences between us and them, we are still facing a break changing position if we replace them.

[2020-01-12 22:28] TheRav3n commented on #47
I decided I will not be using `react-emoji-render` for now. This is due to the following:

- I would need it to parse a string containing HTML and to return a string containing HTML, instead of a component. This because I would need a pipeline of fuctions, converting text into HTML elements (for example, URLs).
- It doesn't match `emoji-mart` emoticons and it would require a PR to fix the issue.

[2020-01-12 22:28] #47 closed

[2020-01-12 22:31] enzoferey commented on #47
Thanks for the feedback @TheRav3n, I hope you will get your thing to work 👍

By the way, we have a `toArray` function that allows html manipulation as you described, maybe it's interesting for you as an inspiration 😉

[2020-01-31 17:54] Multiply opened #48 "Ability to override predefined style object"
I'd love to be able to override or entirely disable the current style object.
Especially the `verticalAlign` property is messing up my layout.

I've made a local change to fix the issue on my end, but it's very crude (I am just removing all properties, and setting them through a className instead)

[2020-01-31 18:06] enzoferey commented on #48
Hi @Multiply, could you please post a code snippet so I can better understand your need ?

[2020-01-31 19:07] Multiply commented on #48
The problem is the generated spans have a hardcoded `style` tag on them.
Due to the verticalAlign being negative, and me having an auto-scroll-to-bottom plugin running, they often clash, when a text with an emoji is rendered.

Ideally verticalAlign should be set by the parent element, or at least through CSS so it can be customized more easy.

So `Hi <Emoji text="<3}">!` will generate something li

[2020-01-31 19:44] enzoferey commented on #48
I see. What I don't understand is how the hardcoded `verticalAlign` (which is used to align vertically emojis with surrounding text) causes clashes with your auto-scroll-to-bottom plugin. You should be able to target the wrapping `span` tag (not the one with `verticalAlign`, but the one that contains the text) and target that node's `rect.y` as a reference to where to scroll.

[2020-01-31 19:56] Multiply commented on #48
If you want to align the emoji with the rest of the text, wouldn't it be more ideal to use `verticalAlign: middle` on the parent?

The Emoji component is used on multiple lines in a single parent div. That div is then automatically scrolled, but the browser doesn't properly detect a change in scroll.

[2020-01-31 21:02] enzoferey commented on #48
For the record, these styles are declared at https://github.com/tommoor/react-emoji-render/blob/master/src/renderer.js#L20.

I didn't write them so I don't know the motivation why `verticalAlign` was used like this. I do agree that `vertical-align: middle` in the parent would center vertically (which doesn't produce the same output though). cc @tommoor

In the meantime, I would propose to spread `

[2020-01-31 21:28] Multiply commented on #48
It beats me as well. Using no styles, it works as expected. I honestly didn't debug much further into it.
Thanks for the options property mention. I didn't expect it to be able to override it. I'll try that.

[2020-01-31 22:14] enzoferey commented on #48
The options property is currently not being spread when not using an image based emoji, so it wouldn’t work at the moment.

Feel free to build a PR 👍🏻

[2020-02-12 20:56] Multiply commented on #48
Closing the issue as I solved it by just using the Twemoji variant.

[2020-02-12 20:56] #48 closed

[2020-02-21 12:47] AhmedMKamal opened #49 "index.d.ts file isn't included in the npm package!!"
Hi @tommoor, first off I appreciate your work 🙂 this is a very cool lib, but there's a tiny issue that I'm facing, I can tell that you included the types definitions file `index.d.ts` to the git repo but for some reason when I install your lib using npm the definitions file isn't included with the package, any ideas on why this is happening?

[2020-02-21 14:27] enzoferey commented on #49
Hey @AhmedMKamal ! It's indeed missing https://github.com/tommoor/react-emoji-render/blob/master/package.json#L13. @tommoor I let you fix it and publish as I don't have publish rights 😄

[2020-02-23 01:24] tommoor commented on #49
Thanks, fixed in `v1.2.2`

[2020-02-23 01:24] #49 closed

[2020-03-01 08:04] anuraghazra opened #50 "How to minimize bundle size?"
Hi, thank you for this wonderful package. this works great but i'm just concerned about one thing, bundle size. i ran source-map-explorer on my app and found out that react-emoji-render is taking about 150kb of bundle size is there any way to fix this?

maybe treesake unused emojis from that [big aliases.js](https://github.com/tommoor/react-emoji-render/blob/master/data/aliases.js) file?

![image]

[2020-03-01 08:44] enzoferey commented on #50
Hi @anuraghazra, thanks for opening the issue.

Unfortunately, I don't think we can really treeshake unused emojis on our side because all of them are potentially used by library users.

I have been googling around a bit and I don't know how you could treeshake this big file on user side neither. The technique is about statically detecting imports and only bundling those. Here, you are importing t

[2020-03-01 09:02] anuraghazra commented on #50
Maybe we can provide another package for those aliases? That would work I guess.

```npm i react-emoji-render-aliases```

Then user would have the flexibility to add their own aliases and if they want they can also include the official aliases.

And the user who need only 6 or 7 emoji aliases they will not install that package and create their own aliases.json(js) file

🤔

[2020-03-10 15:15] darryl-snow commented on #50
It would be nice if users were able to import only selected Emojis. I just found my bundle is 1.1mb so can't use this.

[2020-03-10 15:29] tommoor commented on #50
The main selling point of this library is that it includes the aliases users would expect so I don't see a way it makes sense to remove them.

Don't forget the size is pre-compression – GZIP reduces this a lot. I would encourage you to always break up your bundle in production – webpack makes async chunk loading relatively painless.

[2020-03-10 18:37] anuraghazra commented on #50
@tommoor you are probably right, well I ended up creating my own customized components..

[code]

[2020-03-10 18:58] tommoor commented on #50
Nice, for a very select subset of emojis this makes a lot of sense – thanks for sharing.

[2020-03-10 18:58] #50 closed

[2020-04-16 11:04] copperseed opened #52 "toArray adds a stray character element to array tail"
Thanks for a great package - works well!

One issue I've found is that the toArray method adds a stray array element at the end with what appears to be an empty string but is actually some type of hidden character. I've tried to log it with various methods but gotten nothing. It causes some issues in IE specifically trying to render the string. This I find only happens for certain emojis such as ✌

[2020-04-17 21:41] enzoferey commented on #52
Hi @copperseed, thanks for reporting. It looks like there indeed an issue about it.

I wonder what effect does it have on the render, could you send some screenshots ?

As a quick fix for you, you can filter out these pseudo empty string by console logging current output, copying the symbol and then write something like `toArray(text).filter(item => item !== "️")`.

I don't have in mind anymore wh

[2020-04-20 08:10] copperseed commented on #52
Hey @enzoferey, it's not actually an empty string - there's an artefact in there. IE 11 logs it simply as a square (unknown character). Using the unidecode package (https://www.npmjs.com/package/unidecode) it returns as [?] so my workaround was to do
`
        if (typeof current === "string") {
            if (unidecode(current) === '[?]') return previous;
            return previous + current;

[2020-04-20 08:39] enzoferey commented on #52
Hey @copperseed, I know it's not an actually empty string, that's why I wrote above "pseudo empty string". You don't need to add another dependency, if you console log this special character and copy paste it into your code as I wrote above you can filter it out 👍

[2020-04-20 08:46] copperseed commented on #52
I have tried console log for this and it logs an empty string. No idea how to view this character otherwise 🤣

[2020-04-20 09:07] enzoferey commented on #52
It logs an empty string but it's not. If you copy paste it into your and you filter that "empty" empty you will see it removes the item from the array.

[2020-04-21 08:48] copperseed commented on #52
This fails in IE 11 as it still logs it's missing character block so using unidecode solves that. This is only a real issue in IE - even though the bug is there in other browsers, I haven't had problems with other browsers.

[2020-04-23 18:17] reintroducing opened #53 "Non-createElement not working in demo"
I was just trying out the code sandbox and forked it to try using the non-createElement version. It does not seem to be working: https://codesandbox.io/s/nameless-water-20wcs?file=/src/index.js

[2020-04-23 18:21] tommoor commented on #53
Use a template string like so:

[code]

[2020-04-23 18:21] #53 closed

[2020-05-04 16:55] obfusk opened #54 "emoji detection too eager?"
`:heart:oops` becomes `❤️open_mouth:ops`
`https://foo:oops@example.com` becomes `https://foo😮ops@example.com`

See also jitsi/jitsi-meet#6501.

[2020-05-05 10:17] enzoferey commented on #54
Thanks for reporting @obfusk 👍

I commented at https://github.com/jitsi/jitsi-meet/issues/6501#issuecomment-623969395.

Indeed, these two cases should not happen. First one is something I have encountered in the past already I remember and I thought was fixed, but it looks like it's not. I will check it out.

[2020-05-05 11:22] obfusk commented on #54
The first case happens because of ascii alias expansion: `:heart:oops` -> `:heart:open_mouth:ops`.

The second one because the url detection only detects `http|https` right before an emoji; matching edge cases as e.g. `((http|https)\S*)?` should skip entire urls.

[2020-05-05 11:41] obfusk commented on #54
The first case is probably easiest to fix by changing the algorithm from
* expand ascii aliases (e.g. `:o` to `:open_mouth:`)
* replace emoji aliases (e.g. `:open_mouth:` to :open_mouth:)

to
* replace emoji aliases (e.g. `:heart:` to :heart:)
* expand ascii aliases (e.g. `:o` to `:open_mouth:`)
* replace emoji aliases again

[2020-05-09 17:01] enzoferey opened #57 "Check Prettier changes on CI"
We should be checking Prettier on CI using `prettier --check`.

[2020-05-10 09:22] #54 closed

[2020-05-11 00:42] tomoyakuroda opened #59 "invalid regexp group on v1.2.3"
There is a bug on v1.2.3, which causes SyntaxError: invalid regexp group.
I'd appreciate it if you could fix it.

[2020-05-11 00:44] tomoyakuroda commented on #59
Sorry, I noticed that there is already pull request for that

[2020-05-11 00:44] #59 closed

[2020-05-18 07:43] enzoferey opened #61 "Update to emoji-regex v9"
@Favna wrote a very informative explanation about `emoji-regex` status and its integration with the emoji image libraries we are using [here](https://github.com/tommoor/react-emoji-render/pull/51#issuecomment-627170937).

We have now to agree on the direction we want the library to take with that regard. We options I can infer from this writing are:

1. Don't update to Unicode 13.
2. Update to Uni

[2020-05-18 09:26] Favna commented on #61
Personally I'm mostly behind option 4, or otherwise option 2.

I think 1 is out of the question since unicode consortium seems to be going pretty fast (they do like what.. 1 release a year?) and that's going to cause this library to be be unuseable pretty fast all things considered.

As for option 3, while it is an appealing option, this package is already being used by 793 other open source proje

[2020-05-18 15:33] tommoor commented on #61
It sounds like this update necessitates a breaking update as either Emojione is removed or it becomes JoyPixel. I do think there is value in keeping JoyPixel for OSS users and I don't blame them for having a commercial license. There is a relatively clean way to achieve this:

1. Major version bump
1. Rename emojione -> joypixel
1. Add a prop, something like `commercialLicenseAcknowledged` – if it

[2020-05-18 19:42] Favna commented on #61
I actually really like the idea of using a prop that way!

[2020-05-18 20:32] enzoferey commented on #61
Pretty cool idea for the prop indeed 👌I think we all agree that option 3 is the best, let's do it then !

@Favna please feel free to jump into the code if you have any interest about it being shipped fast. I don't use the library in production at the moment (and probably never with JoyPixel), so I don't have a big motivator for implementing this in the upcoming weeks.

[2020-05-18 23:37] Favna commented on #61
I'll see what I can do when I got time. First got quite a few other things on the project I'm using this lib for to iron out. Can't make any promises on when I'll do the dive though (but it will be in the coming weeks).

[2020-07-01 15:46] aFrontendDev opened #63 "Show all emojis"
Hi, I'm putting something together that would allow a user to select an emoji (like you can in slack) so am iterating over the aliases (copied from the data folder) but I'm getting some not rendering  like "flag-zw": "🇿🇼" & zw: "🇿🇼"

These do render if I used the twitter emoji option that you have though.

Is there any way to know if an emoji is supported by the standard emoji set at all?

Thanks

[2020-07-01 15:49] tommoor commented on #63
Not really, it depends on the OS and typeface to know if an emoji will display, this is why so many sites just use img tags instead.

[2020-07-02 07:39] aFrontendDev commented on #63
Fair enough, thanks for the quick response 👍

[2020-07-02 07:39] #63 closed

[2020-10-17 02:14] andycmaj opened #66 "any way to turn off `:s` style emojis?"
[code]

===>

[code]

[2020-11-12 02:27] SimplyBallistic opened #67 "Add support for Github emojis"
It would be great if this component supports emojis from Github, notably the unique ones such as `:octocat:` :octocat: or `:electron:` :electron:.
There's an api endpoint that gives the SVG elements for each of these emojis, might be possible to leverage this: https://api.github.com/emojis

[2020-11-17 21:20] samajammin opened #68 "Missing Twemojis"
Hey folks - first off, thanks for creating this great package!

I've been using this for the Twemoji support & in general it works great but I just noticed there's some missing Twemojis, e.g. `:bricks:`.

Brick has seemingly been in Twemoji since 11.0 (released on June 5, 2018)
https://emojipedia.org/twitter/twemoji-11.0/brick/

Perhaps we need to update the CDN referenced?
https://github.com/tomm

[2020-11-17 21:35] samajammin commented on #68
Hmmm... tried updating the `baseUrl` without any luck.

It appears `:bricks:` is accessible via the current baseUrl:
https://twemoji.maxcdn.com/2/svg/1f9f1.svg

But something about how this package parses the string `:bricks:` into the unicode `1f9f1` appears to be broken...

Any insight greatly appreciated!

[2020-12-19 09:54] enzoferey commented on #66
Hi @andycmaj ! Sorry for the late answer, did you find any solution to your issue ?

[2020-12-19 10:06] enzoferey commented on #67
Sounds like a cool feature indeed ! If you want to give it shot 👍🏻

[2020-12-19 10:17] enzoferey commented on #68
Hey @samajammin ! Sorry for the late answer, did you find any fixes to the issue ?

I just tried:

[code]

And both are outputting the correct emoji => https://codesandbox.io/s/brick-trial-vcgd5

[2020-12-20 13:03] Ry-DS commented on #67
Sure, I'll try make a PR when I get the chance

[2020-12-26 17:24] gabrielgatu opened #70 "Typescript support: index.d.ts is not exporting EmojioneV4"
When using this library in TS I have to import directly from the lib/index file because the index.d.ts file has not been updated with EmojioneV4.

I should be able to do:
`import { EmojioneV4 } from "react-emoji-render"`

instead of:
`import { EmojioneV4 } from "react-emoji-render/lib"`

Thanks for the library! 🙂

[2020-12-28 11:24] enzoferey commented on #70
Hi @gabrielgatu ! You are right, we should add a `EmojioneV4` declaration with the `size` property instead of `svg` property. Would you be able to do a PR ?

[2021-01-07 12:03] gabrielgatu commented on #70
Hey, sorry for the delay... I'm pretty overwhelmed right now with work at my startup :(
Maybe I could send a PR by the end of this month if no one else does it, I'm gonna keep my eye on this issue.

Cheers!

[2021-01-13 09:36] ugonsalves opened #72 "Jitsi chat converts URL with www to emojis"
While entering the following URL, in Jitsi Chat, www.hellothere.com/:f:/g/hello is getting converted to www.hellothere.com/:f😕g/hello

[2021-01-25 11:01] clementdevos opened #73 "Render using react children"
Hi,

I'm having trouble coupling [linkify-react](https://soapbox.github.io/linkifyjs/docs/linkify-react.html) with react-emoji-render.

The issue here is that Linkify loops all of its children recursively to find text and replace the urls with <a> tags and skips the element if it has no children (https://github.com/Soapbox/linkifyjs/blob/master/src/linkify-react.js#L65)

Unfortunately, react-emoji

[2021-01-25 16:56] tommoor commented on #73
It looks like an interesting approach, I'd probably accept a PR to add support for this kind of operation! I think the limitation is that folks expect to be able to render text from child components and have it work, but of course it will only work with plaintext strings.

[2021-01-25 17:02] clementdevos commented on #73
I'll try to submit a PR !

[2021-02-08 18:51] dooski opened #74 "Twemojis for skateboard and Nazar amulet appear missing"
I've tried to render the Twemoji for skateboard and Nazar amulet using the following code:

[code]

They return 🛹 and 🧿 respectively, but not the Twemoji versions which have both been included in Twemoji since 11.0. I've also tried the unicode format with the same results. I'm using about 19 other Twemojis, all of which render correctly.

(Never submitted an issue before on GitHub so hope I includ

[2021-02-10 14:39] sinnbeck opened #75 "Problems in documentation"
It seems that the docs are a bit off?

For instance it says to use `size={32}` to change the size of the EmojioneV4 component. But I believe that it should be sent in using `options={}`

[code]
It would also be nice if the documentation mentioned that you can pass in `className` in that same options object

[2021-02-11 08:56] sinnbeck commented on #39
Is this broken now? If I try to output multiple smileys after each other, the first two are set as `[object, Object]`

Input
[code]
Output
![image](https://user-images.githubusercontent.com/13980140/107617003-5d644280-6c4f-11eb-9444-94c071cdcd30.png)

[2021-03-18 08:40] cosydney opened #77 "Making bigger emojis"
Hey,

Thank you for your package.

Can't seem to find through the documentation but is this suppose to make the emoji bigger:

[code]

Thank you,

Regards

[2021-03-18 11:17] enzoferey commented on #77
Hi @cosydney !

Indeed the docs could do a better job at explaining this property. The `size` property is only supported when you use the `EmojioneV4` component and it may be 32, 64 (default), or 128 as specified [here](https://github.com/tommoor/react-emoji-render#emojione).

What are you trying to do ?

[2021-03-18 11:27] enzoferey commented on #75
Hi @sinnbeck !

Looking at the component [signature](https://github.com/tommoor/react-emoji-render/blob/master/src/index.js#L56), it shouldn't be the case. `size` as a property should work.

I just tried it at https://codesandbox.io/s/heuristic-tharp-l8e7t?file=/src/index.js and it works as expected, you can change the `size` property and you will see how the image looks blurry as it won't be big

[2021-03-18 12:20] #75 closed

[2021-03-18 14:52] acoudouy commented on #77
Following on Sydney's message, I'm trying to make big emojis using Twemoji
` <Twemoji text="😎" onlyEmojiClassName="make-emojis-large" />`
` <Twemoji options={{ size: "100x100" }} text="😎" />`

I tried these two solutions but can't make it work, can you help me out please ?

[2021-03-19 08:16] cosydney commented on #77
Thanks for answering so fast @enzoferey . Ideally would like to make this one bigger:

[code]

I guess I will look at the CSS and try to add a class to it, unless you have something else to recommend?

Cheers,

Sydney

[2021-03-19 08:35] enzoferey commented on #77
@acoudouy and @cosydney you should be able to set a `font-size` in the context where this emoji is being used and it should work. You can see from the styles that we use `1em` for width and height of the emoji.

You can check [this CodeSanbox](https://codesandbox.io/s/heuristic-tharp-l8e7t?file=/src/index.js) where at the bottom of the page I'm setting a `div` that defines `font-size: 128px` and y

[2021-03-19 09:37] cosydney commented on #77
Thank you @enzoferey this is exactly what we were looking for !

[2021-03-19 09:37] #77 closed

[2021-07-15 12:13] NiiazalyDzhumaliev commented on #66
In the documentation written that you support ': smile:' like Slack. But a user is not able to type any text starting with "s".

How can we fix it?

[2021-07-18 17:09] enzoferey commented on #66
Hi @NiiazalyDzhumaliev. We do support Slack-like emoji style using colons yes. When writing `:s`, our emoji regex will match the bigger amount of text possible. That means if you write `:smile:` it will output "😄" and if you write `:swhatever` it will output "😒whatever".  You can see all the intentional design decisions in our [test file](https://github.com/tommoor/react-emoji-render/blob/master/s

[2021-07-18 18:11] nickveliki commented on #66
split(/(?<= ):s(?= )/) will only exclude :s  if it is standing alone...

[2021-07-18 18:16] nickveliki opened #83 "React warning"
drives me up the wall...

[code]

[2021-07-18 18:34] enzoferey commented on #66
Yes of course, thanks for the extra code @nickveliki :+1:

[2021-07-18 18:35] enzoferey commented on #83
Hey @nickveliki, could you please write your code here or share a CodeSandbox ? Sounds like you are looping through some array and calling `Twemoji` but not providing a `key` for React reconciliation.

[2021-07-18 18:38] enzoferey commented on #74
Related to https://github.com/tommoor/react-emoji-render/issues/68.

[2021-07-18 18:41] enzoferey commented on #72
Related to https://github.com/tommoor/react-emoji-render/issues/66.

[2021-07-18 18:41] #72 closed

[2021-07-18 18:42] #74 closed

[2022-04-30 03:00] Elbarae1921 commented on #73
This thread hasn't been active for a while so I took the liberty to submit a PR ( #92 ) that fixes this issue.

[2022-07-28 15:38] Geczy commented on #61
2 years later, any update?

[2022-07-28 17:53] favna commented on #61
I never spent any time on this anymore. I still use the library but I haven't had a need to update it so I never really got around it. I'm too busy with other projects.

[2022-07-28 18:04] Geczy commented on #61
no problem, i updated it on my own repo to support new emojis https://github.com/geczy/react-emoji-render/

[2022-08-01 20:57] felpsio opened #96 "Inconvenient emoji ascii replacement"
The regex that identifies ascii emojis and replaces them by the actual emojis should check for whitespace before and after the match. Or it may add inconvenient emojis in some cases. Example:

`"chrome://settings/content/notifications"` is translated to `"chrome😕/settings/content/notifications"`

Suggestion:

only apply the ascii conversion when:
- the emoji is between "start of line" and "end of

[2022-08-02 03:57] felpsio commented on #96
To solve my user case I updated the asciiRegex to:

[code]

I basically added `(?: |^)` and `(?: |$)`

This forces the regex to make a emoji substitution only when the ascii match is separated by a whitespace or start/end of line

[2022-08-02 12:28] enzoferey commented on #96
Hey @felpsio, `chrome://` URLs are indeed edge cases. I prepared the regex to support those kind of issues via the `edgeCases` variable that be found here:

https://github.com/tommoor/react-emoji-render/blob/e959d6d0f6fea73d0392c6b5df5fb336cada551b/src/aliasRegex.js#L7-L15

In the same way we have `startOfURL`, we could have `startOfChromeURL` and cover that.

[2022-08-02 17:48] felpsio commented on #96
hey @enzoferey, but this can help on many other cases.

For example, instead of chrome: `safari, brave, firefox, file, base64 etc.`

So it's probably safer require a whitespace or start/end of line to avoid all these cases.

Still going to work on these cases: `:)`, ` :)`, ` :) `. But it won't work on `<any string without whitespace>:)<any string without whitespace>`

[2022-08-04 09:04] enzoferey commented on #96
Right, the design decisions for this library was to support emojis without required whitespaces, hence going for this solution. I'm happy to add as many edge cases as needed.

Note that you can always escape certain parts of a string, transform the rest of the string with this library, and then concatenate back.

[2022-08-04 16:58] felpsio commented on #96
Thanks @enzoferey.

You're right. My use case may not suit the goal of this lib. So for now, I'll probably keep my forked version and bring the updates from the main version manually as they update.

But I suggest then adding these edge cases: `brave://`, `chrome://` and `file://`.

Feel free to close my issue then :).

If somebody else needs to add `whitespaces` as a requirement, you can use my a

[2022-08-04 17:13] enzoferey commented on #96
As you prefer @felpsio, happy to accept PRs for such edge cases 👍🏻

[2022-08-04 17:14] enzoferey commented on #83
I'm closing because of the issue being stale. @nickveliki please feel free to comment if you still have the issue and I will be happy to reopen 👍🏻

[2022-08-04 17:14] #83 closed

[2022-08-04 17:25] enzoferey commented on #68
I'm closing because this issue has become stale. @samajammin please feel free to comment if this is still an issue and I will be glad to reopen 👍🏻

[2022-08-04 17:25] #68 closed

[2022-08-04 17:36] enzoferey commented on #61
Hey @Geczy , I only see dependencies bumps and formatting changes on your fork, but please feel free to work in this issue if you like 😁

[2022-08-06 15:33] #57 closed

[2022-08-20 21:56] #70 closed

[2022-08-20 23:41] enzoferey commented on #66
Closing as I consider this resolved. We might want to add in the future some way to toggle off ASCII emojis or certain emojis patterns, but as described at https://github.com/tommoor/react-emoji-render/issues/66#issuecomment-882088630, you can always work yourself around that.

[2022-08-20 23:41] #66 closed

[2022-08-20 23:43] enzoferey commented on #17
After IE discontinuation, and looking at the quite good support on [caniuse](https://caniuse.com/?search=endsWith), I'm closing this issue as I consider it non relevant anymore. If this is an issue for you, please comment down below and we will figure a way out.

[2022-08-20 23:43] #17 closed

[2022-08-22 13:55] enzoferey commented on #73
Closed via https://github.com/tommoor/react-emoji-render/pull/92. Thanks @Elbarae1921 🎉

[2022-08-22 13:55] #73 closed

[2022-08-22 14:05] clementdevos commented on #73
Sorry I couldn't provide any PR for this 🫢

Thanks @Elbarae1921 !

[2022-09-19 06:22] VadimChorrny opened #100 "Is it possible to convert windows emoji to apple emoji using your library?"
**I work on Windows**, I write posts in the project through **markdown**, <br>
I insert **Windows emoji** there, <br>
**I would like to convert emoji to apple style at the output in markdown files**, <br>
**as Telegram does**

**GIF how it works in Telegram**
https://imgur.com/a/dq2fzTq

**My code where I convert markdown to html**
https://github.com/1alexvash/AlexCodeBlog/blob/master/helpers/mark

[2022-09-19 08:19] enzoferey commented on #100
Hey @VadimChorrny ! Very good question, I actually have no idea how Telegram implemented that feature. Emojis unicodes display based on your OS, so my first thought is that they are transforming Windows emojis to images of the Apple's ones. However, I just had a look at https://web.telegram.org/ and I can see plain emojis in the source HTML. Maybe it's because I'm on MacOS so they don't need to do

[2022-09-19 12:32] VadimChorrny commented on #100
I checked on **macOS** and **Windows**.
On **macOS**, I got emojis from **Apple**.
And on **Windows**, I got emojis from **Windows**.

_Unfortunately, I didn't get the result I wanted (_

[2022-09-19 12:55] enzoferey commented on #100
That's the expected behaviour @VadimChorrny as I wrote above:

Please check on Windows the Telegram web HTML elements to see how the Windows emojis you write are being displayed as Apple emojis. We might be able to take some hints from that.